*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*Forced inheritance. 
    All child are now gonna have inherited value of border-box in the property box-sizing (declared in body selector)*/
    /*It's not good to have font-size in px coz users with low eye sight change the browser's font-size(16px) to see properly,
    but due that, our declared value will have no effect and hence the rest of the code can create problems and bad UX.*/
}
html{
    font-size: 62.5%; /*62.5% of 16px is 10px, so we have our desired root font-size.*/
    //We don't need the media query for phone coz it is handled by tab-port

    //Since we know that only the order of the media queries matter, we have to adjust its order as and whenever required
    @include respond(tab-land){ //width < 1200px ?
        //1rem = 9px, 56.25%
        font-size: 56.25%;     
    }
    @include respond(tab-port){ //width < 900px ?
        //1rem = 8px, 50%   
        //Doing this will decrease the rems we have used everywhere in sass when the width is for portrait tablet
        font-size: 50%;
    }

    @include respond(big-desktop){
        //1rem = 12px, 75%
        font-size: 75%;
    }
}
body{
    box-sizing: border-box; /*padding and border is included in div's height and width*/
    padding: 3rem;
    @include respond(tab-port){ //width < 900px ?
        padding: 0;
    }
}